// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');
$body-font-family: 'Open Sans', serif;
@import '~vuetify/src/styles/styles.sass';

$material-dark-elevation-colors: (
  (
    '0': hsl(266.67, 16.98%, 10.39%),
    '1': hsl(252, 15.63%, 12.55%),
    '2': hsl(240, 15.79%, 14.9%),
    '3': hsl(232, 17.65%, 16.67%),
    '4': hsl(225, 21.28%, 18.43%),
    '6': hsl(218.4, 24.27%, 20.2%),
    '8': hsl(212, 27.27%, 21.57%),
    '12': hsl(207.43, 29.91%, 22.94%),
    '16': hsl(203.41, 33.33%, 24.12%),
    '24': hsl(200.87, 35.38%, 25.49%)
  )
);

$material-dark: (
  'app-bar': map-get($material-dark-elevation-colors, '1'),
  'background': map-get($material-dark-elevation-colors, '0'),
  'cards': map-get($material-dark-elevation-colors, '1'),
  'table': (
    'active': map-get($cyan, 'darken-2'),
    'hover': map-get($cyan, 'darken-2'),
    'group': map-get($material-dark-elevation-colors, '2'),
  ),
  'toolbar': map-get($material-dark-elevation-colors, '2'),
);

$table-header: map-get($material-dark-elevation-colors, '0'),




